html{
    color-scheme: dark;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.2;
}

button{
    padding: 0.5rem;
    border: none;
}
button:hover{
    cursor: pointer;
}

button > a{
    text-decoration: none;
    color: white;
}

/* nav styles */
nav:has(.nav-btn){
    display: flex; 
    flex-direction: row-reverse; 
    gap: 1.25rem;
}
.nav-btn.logout-btn{
    background-color: red;
}