<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a question</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/theme.css') }}">
</head>
<body>
    <h1>Upload notes</h1>

        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <span>Title: </span> {{form.Title}}
            <br>
            <br>
            <p>Choose the notes file you want to upload:</p>
            {{form.Body(size=1000)}}
            <br>

            <p>Enter a short description below: </p>

            {{form.description(cols="35", rows="10")}}
            <br>
            <br>
            {{form.submit}}
        </form>
</body>
</html>