<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">

</head>
<body>
    <nav>
        <button class="nav-btn logout-btn" onclick="location.href = '/logout'">
            <a href="/logout">Log out</a>
        </button>
    </nav>
    <h1>Profile</h1>
    Username: {{user.username}}
    <br>
    Id: {{user.id}}

</body>
</html>